<% layout("layout") %>
<section id="list-product" class="text-center">
	
		<div class="container">
			<div class="col-lg-3">
				<div class = "category-box">
					<ul class = "list-unstyled">
						<% for(var i = 0; i < menuCategories.length; i ++) { %>
						<li><a href="/product/<%= menuCategories[i]._id %>"><%= menuCategories[i].name %></a></li>
						<% } %>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<% include compoments/search %>
				<% include ../partials/message %>
				<div class = "list-products">
					<% for(var i = 0; i < products.length; i ++) { %>
					<div class="col-lg-4 col-sm-6">
						<div class="product-box">
							<h3 class = "text-success"><%= products[i].name %></h3>
							<a href="/product/detail/<%= products[i]._id %>"><img src="<%= products[i].image %>"  alt="<%= products[i].name %>"></a>
							<div class="product-overlay">
		                    	<a href="#" class="add-to-cart"><i class="fa fa-cart-plus"></i></a>
		                        <a href="<%= products[i].image %>" class="gallery-zoom" data-lightbox="ajax"><i class="fa fa-search"></i></a>
		                    </div>
							<div class="product-desc">
		                        <div class="editContent" style="outline: none; cursor: inherit;">
		                            	<h4><del>$<%= Math.floor(products[i].price * 1.2) %></del> $<%= products[i].price %></h4>
		                        </div>
		                            <div class="product-rating">
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star"></i>
		                                <i class="fa fa-star-half-o"></i>
		                                <i class="fa fa-star-o"></i>
		                            </div>
		                     </div>
							
							<a href = "/cart/add-to-cart/<%= products[i]._id %>" class="btn btn-success">Đặt hàng</a>
							<a class = "btn btn-primary" href="/product/detail/<%= products[i]._id %>">Chi Tiết</a>
						</div>
					</div>
					<% } %>
					
				</div>
				
				<div class="loading">
					<img src = "/images/loading.gif" />
				</div>
			</div>
			<% include compoments/pagination %>
	</div>
</section>
