<% layout("layout") %>

<section id="product-detail" class="text-center">	
		<div class="container">
			<div class="col-lg-3">
				<div class = "category-box">
					<ul class = "list-unstyled">
						<li><a href="#">Sơn PU</a></li>
						<li><a href="#">Sơn 2k</a></li>
						<li><a href="#">Sơn Kẽm</a></li>
						<li><a href="#">Sơn Công Nghiệp</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="product-detail-box">
					<h1 class = "active-color"><%= product.name %></h1>
					<div class="row">
						<div class="col-lg-6">
							<img src="<%= product.image %>" alt="<%= product.name %>">
							<div class="row">
								<div class="col-xs-6">
									<div class="price pull-left">
									<i></i><span class="text-success"><%= product.price %> VNĐ</span>
								</div>
								</div>
								<div class="col-xs-6">
									<div class="star pull-right">
										<i class = "fa fa-star"></i>
										<i class = "fa fa-star"></i>
										<i class = "fa fa-star"></i>
										<i class = "fa fa-star"></i>
										<i class = "fa fa-star"></i>
									</div>
								</div>
							</div>
							<ul class="fa-ul text-left">
	                            <li><i class="fa-li fa fa-search"></i>SKU: 53016341</li>
	                            <li><i class="fa-li fa fa-th-list"></i>Category: <a href="/product/<%= product.category._id %>"><%= product.category.name %></a></li>
	                            </li>
	                        </ul>
						</div>
							
						<div class="col-lg-6">
							
							<div class="row description">
								<p class = "text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, magnam ad dicta temporibus ipsum dolorem consectetur perferendis laborum cupiditate. Saepe aut quasi adipisci voluptatem impedit dolorum aliquid obcaecati fuga vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla commodi numquam quibusdam, voluptatum id voluptates eum sed dolore explicabo ut animi quo accusamus porro nihil cum incidunt esse tempora praesentium?</p>
								<p class = "text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vel ducimus odio iusto labore, atque. Odio unde provident atque necessitatibus aut repellendus possimus ab quos obcaecati, repudiandae modi ut nemo!</p>
							</div>							
						</div>
						<a href = "/cart/add-to-cart/<%= product._id %>" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> Đặt Hàng</a>
					</div>
				</div>
				
			</div>
		
	</div>
</section>
